{% extends 'AppBundle::base.html.twig' %}


{% block body %}

    <!-- Wrapper begin -->
    <div class="container-fluid" id="main-content-wrapper">
    <!-- Flexible Content -->
    <!-- Sidebar Begin -->
    <div class="col-lg-2">
        <div id="navigation-sidebar">
            <div class="nav navbar">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="{{ path('overview') }}">Overview</a> </li>
                    <ul class="nav" id="viewCollapse">
                        <li><a href="#">Equipment</a> </li>
                        <li><a href="#">Calibrations</a> </li>
                        <li><a href="{{ path('showAllTypes') }}">Types</a> </li>
                        <li><a href="{{ path('showAllUnits') }}">Units</a> </li>
                        <li><a href="{{ path('showAllPrefix') }}">Prefix</a> </li>
                        <hr>
                    </ul>
                    <li class="active"><a href="#">Equipment</a></li>
                    <ul class="navbar nav" id="equipmentCollapse">
                        <li > <a href="#createCollapse" data-toggle="collapse">Create</a> </li>
                        <ul class="nav collapse" id="createCollapse">
                            <li> <a href="{{ path('createEquipment') }}" >Equipment</a> </li>
                            <li> <a href="{{ path('createCalibration') }}" >Calibration</a> </li>
                            <li> <a href="{{ path('createType') }}" >Type</a> </li>
                            <li> <a href="{{ path('createUnit') }}" >Unit</a> </li>
                            <li> <a href="{{ path('createPrefix') }}" >Prefix</a> </li>
                            <hr>
                        </ul>
                    </ul>
                </ul>
            </div>
        </div>
    </div><!-- Sidebar End -->
    <!-- Flexible Content END -->
                <div class="col-lg-1">
                    <table class="table table-hover" id="myTables">
                        <tc><h1>Types</h1></tc>
                        <th>
                            <tr>
                                <th>Types</th>
                            </tr>
                        </th>
                        {% for t in types %}
                            <tr onclick="document.location = 'http://localhost:8000/updateType/{{ t.ID }}'">
                                <td>{{ t.type }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- Wrapper End-->


{% endblock %}
