{% extends 'AppBundle::sidebar.html.twig' %}

{% block body %}

    <!-- Wrapper begin -->
    <div class="container-fluid" id="main-content-wrapper">
        {% block sidebar %}{{ parent() }}{% endblock %}


                <div class="col-lg-10">
                    <table class="table table-hover" id="myTables">
                        <tc><h1>Equipment</h1></tc>
                        <th>
                            <tr>
                                <th>Equipment ID</th>
                                <th>Serial Nr.</th>
                                <th>Model</th>
                                <th>Iso Standard</th>
                            </tr>
                        </th>
                        {% for e in equipment %}
                            {% if e.status == 0 %}
                            <tr class="danger" onclick="document.location = '{{ path('showEquipment', {'id': e.id}) }}'">
                                <td>{{ e.equipmentID }}</td>
                                <td>{{ e.serialNr }}</td>
                                <td>{{ e.model }}</td>
                                <td>{{ e.isoStandard }}</td>
                            </tr>
                            {% else %}
                            <tr onclick="document.location = '{{ path('showEquipment', {'id': e.id}) }}'">
                                    <td>{{ e.equipmentID }}</td>
                                    <td>{{ e.serialNr }}</td>
                                    <td>{{ e.model }}</td>
                                    <td>{{ e.isoStandard }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

    </div> <!-- Wrapper End-->




{% endblock %}
