{% extends 'AppBundle::sidebar.html.twig'%}



{% block body %}

    <!-- Wrapper begin -->
    <div class="container-fluid" id="main-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <!-- Shows the sidebar -->
                {% block sidebar %}{{ parent() }}{% endblock %}


                <div class="col-lg-8">

                    <h1>Update Equipment: {{ equipment.EquipmentID }}</h1>
                </div>

                <div class="col-lg-4">
                    <hr>
                    {{ form_start(Form) }}
                    {{ form_widget(Form) }}
                    {{ form_end(Form) }}
                </div>
            </div>
        </div>


    </div><!-- Wrapper End -->


{% endblock %}