{% extends 'AppBundle::base.html.twig' %}


{% block body %}

<head>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/showEquipment.css') }}">
</head>
    <!-- Wrapper -->
<div class="container-fluid" id="wrapper">

                <!-- Flexible Content -->
                <!-- Sidebar Begin -->
                <div class="col-lg-2">
                    <div id="navigation-sidebar">
                        <div class="nav navbar">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="http://localhost:8000/overview">Overview</a> </li>
                                <ul class="nav" id="viewCollapse">
                                    <li><a href="#">Equipment</a> </li>
                                    <li><a href="#">Calibrations</a> </li>
                                    <li><a href="#">Types</a> </li>
                                    <hr>
                                </ul>
                                <li class="active"><a href="#">Equipment</a></li>
                                <ul class="navbar nav" id="equipmentCollapse">
                                    <li > <a href="#createCollapse" data-toggle="collapse">Create</a> </li>
                                    <ul class="nav collapse" id="createCollapse">
                                        <li> <a href="http://localhost:8000/createEquipmentData" >Equipment</a> </li>
                                        <li> <a href="http://localhost:8000/createCalibration" >Calibration</a> </li>
                                        <li> <a href="http://localhost:8000/createEquipmentType" >Type</a> </li>
                                        <hr>
                                    </ul>
                                    <li> <a href="http://localhost:8000/createEquipmentData" >Update</a> </li>
                                    <hr>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div><!-- Sidebar End -->
                <!-- Flexible Content END -->

            <div class="container-fluid" id="main-content-wrapper">
                <p><i>created: {{ equipment.createdDatetime|date("d-m-y  H:i:s") }} - status: {{ equipment.status?'active':'inactive' }}</i></p>
                <hr>
                    <div class="col-lg-3">
                        <p><b>Id:</b> {{ equipment.id }}</p>
                        <p><b>iso standard:</b> {{ equipment.isoStandard }}</p>
                        <p><b>serial nr.:</b> {{ equipment.serialNr }}</p>
                        <p><b>category:</b> {{ equipment.category }}</p>
                        <p><b>description:</b> {{ equipment.description }}</p>
                        <p><b>level:</b> {{ equipment.level }}</p>
                        <p><b>box storage: </b> {{ equipment.boxStorage?'yes':'no' }} </p>
                    </div>
                    <div class="col-lg-2">
                        <p><b>partner:</b> {{ equipment.partner }}</p>
                        <p><b>placement:</b> {{ equipment.placement }}</p>
                        <p><b>calibration interval:</b> {{ equipment.calibrationInterval }}</p>
                        <p><b>calibration institute</b> {{ equipment.calibrationInstitute }}</p>
                        <p><b>next calibration:</b> {{ equipment.nextCalibration|date('d-m-y') }}</p>
                        <p><b>owner:</b> {{ equipment.owner }}</p>
                        <p><b>comment:</b> {{  equipment.comment }}</p>
                    </div>
                    <div class="col-md-1">
                        <a href="http://localhost:8000/updateEquipment/{{ equipment.id }}"><button class="btn btn-primary btn-lg" type="button">edit</button></a>
                    </div>


            </div><!-- Wrapper Emd -->


        </div>


    </div>


</div>


{% endblock %}