{% extends 'AppBundle::base.html.twig' %}



{% block body %}
    {% block sidebar %}
        <!-- Flexible Content -->
        <!-- Sidebar Begin -->
        <div class="col-lg-2">
            <div id="navigation-sidebar">
                <div class="nav navbar">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="">Menu</a> </li>
                        <li><a href="{{ path('overview') }}">Equipment</a> </li>
                        <li><a href="{{ path('showUpcomingCalibrations') }}">Upcoming Calibrations</a></li>
                        {% if is_granted("ROLE_ADMIN") == false %}
                        <hr>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="{{ path('showAllTypes') }}">Types</a> </li>
                        <li><a href="{{ path('showAllUnits') }}">Units</a> </li>
                        <li><a href="{{ path('showAllPrefix') }}">Prefix</a> </li>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                        <hr>
                            <li class="active"><a href="#">Equipment</a></li>
                        <ul class="navbar nav" id="equipmentCollapse">
                            <li > <a href="#createCollapse" data-toggle="collapse">Create</a> </li>
                            <ul class="nav collapse" id="createCollapse">
                                <li> <a href="{{ path('createEquipment') }}" >Equipment</a> </li>
                                <li> <a href="{{ path('createCalibration') }}" >Calibration</a> </li>
                                <li> <a href="{{ path('createType') }}" >Type</a> </li>
                                <li> <a href="{{ path('createUnit') }}" >Unit</a> </li>
                                <li> <a href="{{ path('createPrefix') }}" >Prefix</a> </li>
                                <hr>
                            </ul>
                        </ul>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div><!-- Sidebar End -->
        <!-- Flexible Content END -->
    {% endblock %}

{% endblock %}

