{% extends 'AppBundle::sidebar.html.twig' %}

{% block body %}


    <div class="container-fluid" id="main-content-wrapper">

        <div class="row">
            {% block sidebar %}{{ parent() }}{% endblock %}

            <div class="col-md-4">
                <select>
                    {#{% for e in equipment %}#}
                        {#<option value="id">{{ e.equipmentID }}</option>#}
                    {#{% endfor %}#}
                </select>
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Equipment
                    <span class="caret"></span> </button>
                    <ul class="dropdown-menu">
                        {#{% for e in equipment %}#}
                            {#<a href="#"><li>{{ e.equipmentID }}</li></a>#}
                        {#{% endfor %}#}
                    </ul>
                </div>
                {#{{ form_start(Form) }}#}
                {#{{ form_widget(Form) }}#}
                {#{{ form_end(Form) }}#}

                <table class="table">
                    <tr><th>id</th></tr>
                    {% for e in equipment %}
                        <tr>
                            <td>{{ e.equipmentID }}</td>
                            <td>{{ e.isCalibrated?'yes':'no' }}</td>
                        </tr>
                    {% endfor %}
                </table>









            </div>
        </div>
</div>



{% endblock %}