{% extends 'AppBundle::sidebar.html.twig' %}

{% block body %}


    <div class="container-fluid" id="main-content-wrapper">

        <div class="row">
            {% block sidebar %}{{ parent() }}{% endblock %}

            <div class="col-md-4">
                <select>
                    {#{% for e in equipment %}#}
                        {#<option value="id">{{ e.equipmentID }}</option>#}
                    {#{% endfor %}#}
                </select>
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Equipment
                    <span class="caret"></span> </button>
                    <ul class="dropdown-menu">
                        {#{% for e in equipment %}#}
                            {#<a href="#"><li>{{ e.equipmentID }}</li></a>#}
                        {#{% endfor %}#}
                    </ul>
                </div>

                <table class="table">
                    <tr>
                        <th>types</th>
                    </tr>

                </table>
                {#{{ form_start(Form) }}#}
                {#{{ form_widget(Form) }}#}
                {#{{ form_end(Form) }}#}

                <a href="file:///C:/Users/Martin/Desktop/PraktikPlan.doc">Link</a>





            </div>
        </div>
</div>



{% endblock %}