{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        {{ form_start(equipmentDataForm) }}
        {{ form_widget(equipmentDataForm) }}
        {{ form_end(equipmentDataForm) }}
        </div>
        <div class="col-md-4">
            {{ form_start(calibrationInfoForm) }}
            {{ form_widget(calibrationInfoForm) }}
            {{ form_end(calibrationInfoForm) }}

        </div>
        <div class="col-md-4">
            {{ form_start(calibrationPointForm) }}
            {{ form_widget(calibrationPointForm) }}
            {{ form_end(calibrationPointForm) }}
        </div>
    </div>
</div>

{% endblock %}