{% extends '@App/layoutBase.html.twig' %}


{% block index %}

    <!-- Column Begin -->
    <div class="col-lg-4">
        <div class="row">
            <div class="pull-right">
                <a href="{{ path('showCalibration', {'id': calibration.id}) }}">Show calibration</a>
            </div>
        </div>

        {{ form_start(Form)}}

        <div class="col-lg-4">
            {{ form_label(Form.unit) }}
            <br>
            {{ form_errors(Form.unit) }}
            {{ form_widget(Form.unit) }}
        </div>
        <div class="col-lg-6">
            {{ form_label(Form.prefix) }}
            <br>
            {{ form_errors(Form.prefix) }}
            {{ form_widget(Form.prefix) }}
            <br>
            <br>
        </div>
        {{ form_widget(Form) }}
        {{ form_end(Form) }}
    </div><!-- Column End -->

{% endblock %}



