{% extends 'AppBundle::sidebar.html.twig' %}


{% block body %}
    <!-- Wrapper begin -->
    <div class="container-fluid" id="main-content-wrapper">
            <!-- Shows the sidebar -->
            {% block sidebar %}{{ parent() }}{% endblock %}

            <p><i>calibrated at: {{ calibration.calibrationDate|date('d-m-y') }} - status: {{ calibration.status?'active':'inactive' }}</i></p>
                <hr>
            <div class="col-lg-10">
                <p><b>equipment: </b>{{ calibration.equipment.equipmentId }}</p>
                <p><b>calibration institute: </b> {{ calibration.calibrationInstitute }}</p>
                <p><b>calibration Certificate: </b> {{ calibration.calibrationCertificate }}</p>
                <p><b>approved by: </b>{{ calibration.approvedBy }}</p>

            <table class="table table-hover" id="myTables">
                <tc><h2>Calibration
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('addInfo', {'id': calibration.id}) }}"><button class="btn btn-primary btn-lg pull-right" type="button">add calibration</button></a>
                            <a href="{{ path('updateCalibration', {'id': calibration.id}) }}"><button class="btn btn-primary btn-lg pull-right" type="button">update</button></a>
                            <a href="{{ path('showEquipment', {'id': calibration.equipment.id}) }}"><button class="btn btn-primary btn-lg pull-right" type="button">show equipment</button></a>
                        {% endif %}
                    </h2>
                </tc>
                <th>
                    <tr>
                        <th>Unit</th>
                        <th>Prefix</th>
                        <th>Measured At</th>
                        <th>Uncertainty Requests</th>
                        <th>Actual Uncertainty</th>
                        <th>Lab Reference</th>
                        <th>UUT</th>
                        <th>deviation</th>
                        <th>Adjustment Limit</th>
                        <th>comment</th>
                    </tr>
                </th>
                {% for i in info %}
                    {% if is_granted("ROLE_ADMIN")  %}
                        <tr onclick="document.location = '{{ path('updateInfo', {'id': i.id}) }}'">
                            <td>{{ i.unit.unit }}</td>
                            <td>{{ i.prefix.prefix }}</td>
                            <td>{{ i.measuredAt}} </td>
                            <td>{{ i.uncertaintyRequests }} </td>
                            <td>{{ i.actualUncertainty }} </td>
                            <td>{{ i.labReference }} </td>
                            <td>{{ i.uut }} </td>
                            <td>{{ i.deviation }} </td>
                            <td>{{ i.adjustmentLimit }} </td>
                            <td>{{ i.comment }} </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ i.unit.unit }}</td>
                            <td>{{ i.prefix.prefix }}</td>
                            <td>{{ i.measuredAt}} </td>
                            <td>{{ i.uncertaintyRequests }} </td>
                            <td>{{ i.actualUncertainty }} </td>
                            <td>{{ i.labReference }} </td>
                            <td>{{ i.uut }} </td>
                            <td>{{ i.deviation }} </td>
                            <td>{{ i.adjustmentLimit }} </td>
                            <td>{{ i.comment }} </td>
                        </tr>
                {% endif %}
                {% endfor %}


            </table>

            </div>

    </div> <!-- Wrapper End-->


{% endblock %}