{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <!-- Wrapper begin -->
    <div class="container-fluid" id="wrapper">

        <div class="row">
            <!-- Flexible Content -->
            <!-- Sidebar Begin -->
            <div class="col-lg-2">
                <div id="navigation-sidebar">
                    <div class="nav navbar">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="http://localhost:8000/overview">Overview</a> </li>
                            <ul class="nav" id="viewCollapse">
                                <li><a href="#">Equipment</a> </li>
                                <li><a href="#">Calibrations</a> </li>
                                <li><a href="#">Types</a> </li>
                                <hr>
                            </ul>
                            <li class="active"><a href="#">Equipment</a></li>
                            <ul class="navbar nav" id="equipmentCollapse">
                                <li > <a href="#createCollapse" data-toggle="collapse">Create</a> </li>
                                <ul class="nav collapse" id="createCollapse">
                                    <li> <a href="http://localhost:8000/createEquipment" >Equipment</a> </li>
                                    <li> <a href="http://localhost:8000/createCalibration" >Calibration</a> </li>
                                    <li> <a href="http://localhost:8000/createType" >Type</a> </li>
                                    <li> <a href="http://localhost:8000/createUnit" >Unit</a> </li>
                                    <li> <a href="http://localhost:8000/createPrefix" >Prefix</a> </li>
                                    <hr>
                                </ul>
                                <li> <a href="#updateCollapse" data-toggle="collapse" >Update</a> </li>
                                <ul class="nav collapse" id="updateCollapse">
                                    <li> <a href="http://localhost:8000/updateEquipment">Equipment</a> </li>
                                    <li> <a href="http://localhost:8000/updateCalibration">Calibration</a></li>
                                    <li> <a href="http://localhost:8000/updateType">Type</a></li>
                                    <li> <a href="http://localhost:8000/updateUnit">Unit</a></li>
                                    <li> <a href="http://localhost:8000/updatePrefix">Prefix</a></li>
                                    <hr>
                                </ul>
                                <hr>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div><!-- Sidebar End -->
            <!-- Flexible Content END -->

            <div class="col-lg-10">


            <table class="table">
                <th>
                    <tr>
                        <th>Unit</th>
                        <th>Prefix</th>
                        <th>Measured At</th>
                        <th>uncertainty Requests</th>
                        <th>Actual Uncertainty</th>
                        <th>Lab Reference</th>
                        <th>uut</th>
                        <th>deviation</th>
                        <th>Adjustment Limit</th>
                        <th>comment</th>
                    </tr>
                </th>
                {% for i in info %}
                    <tr>
                        <td>{{ i.unit.unit }}</td>
                        <td>{{ i.prefix.prefix }}</td>
                        <td>{{ i.measuredAt}} </td>
                        <td>{{ i.uncertaintyRequests }} </td>
                        <td>{{ i.actualUncertainty }} </td>
                        <td>{{ i.labReference }} </td>
                        <td>{{ i.uut }} </td>
                        <td>{{ i.deviation }} </td>
                        <td>{{ i.adjustmentLimit }} </td>
                        <td>{{ i.comment }} </td>
                    </tr>
                {% endfor %}


            </table>

            </div>

        </div>
    </div> <!-- Wrapper End-->


{% endblock %}