{% extends 'AppBundle::sidebar.html.twig'%}

{% block body %}

    <!-- Wrapper begin -->
    <div class="container-fluid" id="main-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                {% block sidebar %}{{ parent() }}{% endblock %}


                <div class="col-lg-10">
                    <table class="table table-hover" id="myTables">
                        <tc><h1>Upcoming calibrations</h1></tc>
                        <th>
                            <tr>
                                <th>Equipment ID</th>
                                <th>Serial Nr.</th>
                                <th>Model</th>
                                <th>Iso Standard</th>
                                <th>Next Calibration</th>
                            </tr>
                        </th>
                        {% for c in calibrations %}
                            <tr onclick="document.location = 'http://localhost:8000/equipment/{{ c.ID }}'">
                                <td>{{ c.equipmentID}}</td>
                                <td>{{ c.serialNr}}</td>
                                <td>{{ c.Model}}</td>
                                <td>{{ c.IsoStandard }}</td>
                                <td>{{ c.nextCalibration|date('d-m-y') }}</td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>


    </div><!-- Wrapper End -->


{% endblock %}